{% extends "base.html"%}
{% load bootstrap4  %}
{% block body %}
<style>
::placeholder{
    display: none;color:white !important;
}
</style>
<section class="razo-latest-news-area bg-overlay bg-img jarallax" style="background-image: url(img/bg-img/32.jpg);">
    <!-- Razo Latest News Slide -->
    <div class="razo-latest-news-slide owl-carousel">
        {% for i in all_blogs %}
        <!-- Single Latest News Area -->
        <div class="razo-single-latest-news-area bg-overlay bg-img" style="background-image: url(/media/{{i.img}});">
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="post-title">{{i.title}}</a>
                <p>{{i.desc}}...</p>
            </div>
            <!-- Post Date -->
            <div class="post-date">
                <h2>{{i.date}}</h2>
                <p>{{i.month}}, {{i.year}}</p>
            </div>
            <!-- Read More -->
            <div class="read-more-btn">
                <a href="#" class="btn">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Latest News Area End -->

<!-- News Area Start -->
<section class="uza-news-area section-padding-80">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Create Blog Post</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="p-5 m-5 shadow shadow-lg">
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token%}
                        {%bootstrap_form form%}
                        <input type="submit" class="btn btn-danger" style="background:#dc2878;color:white">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
{% endblock %}